.meal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.meal-info h1{
    font-size: 1.17rem;
}

.meal-info p{
    margin: 0.2rem 0;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.price{
    color: var(--clr-primary-4);
}

