.backdrop{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal{
    position: absolute;
    top: 7rem;
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    padding: 1.3rem 1.25rem 1rem 1.25rem;
    width: 90vw;
    max-width: var(--fixed-width-secondary);
}
